# Répartition volume entre les différentes familles

L'objectif de ce notebook est de calculer pour chaque client la répartition des achats entre les différentes familles.

In [1]:
# !pip3 install pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('clean_dataset.csv')

In [4]:
df.head()

,Unnamed: 0,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID
0,0,35592159,10,1.67,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
1,1,35592159,10,1.66,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
2,2,35592159,10,7.45,SOINS DU VISAGE,JEUNES,CREMES JOUR,CR JR PARF BIO.SPE AC.SENT.50ML,1490281
3,3,35592159,10,5.95,SOINS DU VISAGE,ANTI-AGE ANTI-RIDES,DEMAQUILLANTS,EAU MICELLAIRE 3 THES FL200ML,1490281
4,4,35592159,10,1.67,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 TIARE FL 200ML,1490281

In [5]:
df.shape

(7245425, 9)

### Récupération des deux colonnes client_id et famille

In [7]:
df_family_client = df[["CLI_ID", "FAMILLE"]]
print(df_family_client)

            CLI_ID          FAMILLE
0          1490281          HYGIENE
1          1490281          HYGIENE
2          1490281  SOINS DU VISAGE
3          1490281  SOINS DU VISAGE
4          1490281          HYGIENE
...            ...              ...
7245420  997385337   SOINS DU CORPS
7245421  997385337          HYGIENE
7245422  997385337       MAQUILLAGE
7245423  997385337       MAQUILLAGE
7245424  997385337       MAQUILLAGE

[7245425 rows x 2 columns]

#### Nombre d'occurence de chaque famille

In [8]:
df_family_client["FAMILLE"].value_counts(dropna=False)

HYGIENE            2095077
MAQUILLAGE         1694751
SOINS DU VISAGE    1494002
SOINS DU CORPS      878923
PARFUMAGE           628053
CAPILLAIRES         301365
SOLAIRES            153254
Name: FAMILLE, dtype: int64

#### Nombre d'occurence de chaque famille par client

In [9]:
# Résultat tableau multi index
df_family_client.groupby("CLI_ID")["FAMILLE"].value_counts()

CLI_ID     FAMILLE
1490281    HYGIENE             3
           SOINS DU VISAGE     2
13290776   HYGIENE             3
           PARFUMAGE           3
           SOINS DU CORPS      3
                              ..
997048777  CAPILLAIRES         1
997385337  MAQUILLAGE         12
           SOLAIRES            6
           SOINS DU CORPS      4
           HYGIENE             1
Name: FAMILLE, Length: 2277721, dtype: int64

#### Reconstitution d'un tableau single index

In [13]:
df_family_repartition = df_family_client.groupby("CLI_ID")["FAMILLE"].value_counts().unstack(fill_value=0)
df_family_repartition

FAMILLE,CAPILLAIRES,HYGIENE,MAQUILLAGE,PARFUMAGE,SOINS DU CORPS,SOINS DU VISAGE,SOLAIRES
CLI_ID,,,,,,,
1490281,0,3,0,0,0,2,0
13290776,0,3,0,3,3,0,0
20163348,0,0,1,0,0,0,0
20200041,0,0,0,0,1,1,0
20561854,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...
997048745,0,0,4,0,0,0,0
997048751,0,2,1,1,1,0,0
997048769,0,0,9,0,0,1,0
997048777,1,6,3,0,3,6,0
997385337,0,1,12,0,4,0,6

In [14]:
# exportation en csv
# df_family_repartition.to_csv('family_repartition_dataset.csv')