# Etude de cohorte

Une ***cohort*** est un groupe de personnes partageant des caractéristiques communes au cours d’une période spécifique.


L’analyse de cohortes est une méthode qui permet d’analyser et d’anticiper le comportement de ses clients et ainsi de mieux les comprendre. On peut, par exemple, déterminer le revenu qu’ils génèrent actuellement, la date de leur prochaine commande, et donc le chiffre d’affaires potentiel qu’ils généreront dans les prochaines années. Une analyse de cohortes est essentielle pour déterminer la « fameuse » Life-Time Value de ses clients.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 200)

In [2]:
df = pd.read_csv("clean_dataset.csv", index_col = 0)

C:\Users\chris\anaconda3\envs\chris-env\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df.head()

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID
0,35592159,10,1.67,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
1,35592159,10,1.66,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
2,35592159,10,7.45,SOINS DU VISAGE,JEUNES,CREMES JOUR,CR JR PARF BIO.SPE AC.SENT.50ML,1490281
3,35592159,10,5.95,SOINS DU VISAGE,ANTI-AGE ANTI-RIDES,DEMAQUILLANTS,EAU MICELLAIRE 3 THES FL200ML,1490281
4,35592159,10,1.67,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 TIARE FL 200ML,1490281

In [16]:
test = 10
date = dt.date(2020, test, 1)
date

datetime.date(2020, 10, 1)

In [4]:
#Transform MOIS_VENTE values into datetime

import datetime as dt
df['MOIS_VENTE'] = df['MOIS_VENTE'].apply(lambda x: dt.date(2020, x, 1))

In [5]:
grouping = df.groupby('CLI_ID')['MOIS_VENTE']

In [6]:
df['MOIS_ACQUISITION'] = grouping.transform('min')

In [9]:
df.head()

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID,MOIS_ACQUISITION
0,35592159,2020-10-01,1.67,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281,2020-10-01
1,35592159,2020-10-01,1.66,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281,2020-10-01
2,35592159,2020-10-01,7.45,SOINS DU VISAGE,JEUNES,CREMES JOUR,CR JR PARF BIO.SPE AC.SENT.50ML,1490281,2020-10-01
3,35592159,2020-10-01,5.95,SOINS DU VISAGE,ANTI-AGE ANTI-RIDES,DEMAQUILLANTS,EAU MICELLAIRE 3 THES FL200ML,1490281,2020-10-01
4,35592159,2020-10-01,1.67,HYGIENE,DOUCHE,JARDIMONDE,GD JDM4 TIARE FL 200ML,1490281,2020-10-01

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7245425 entries, 0 to 7245521
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   TICKET_ID         int64
 1   MOIS_VENTE        object
 2   PRIX_NET          float64
 3   FAMILLE           object
 4   UNIVERS           object
 5   MAILLE            object
 6   LIBELLE           object
 7   CLI_ID            int64
 8   MOIS_ACQUISITION  object
dtypes: float64(1), int64(2), object(6)
memory usage: 552.8+ MB

In [12]:
def get_date_int(df, column):
    year = df[column].year
    month = df[column].month
    day = df[column].day
    return year, month, day

In [13]:
invoice_month, _ = get_date_int(df, 'MOIS_VENTE')
cohor_year, cohort_month, _ = get_date_int(df, 'MOIS_ACQUISITION')
months_diff = invoice_month - cohort_month
df['CohortIndex'] = months_diff + 1

AttributeError: 'Series' object has no attribute 'year'